
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://preline.co/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sidebar Application AI Prompt using Tailwind CSS for Preline UI, a product of Htmlstream.">

  <meta name="twitter:site" content="@preline">
  <meta name="twitter:creator" content="@preline">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Sidebar Application AI Prompt using Tailwind CSS | Preline UI, crafted with Tailwind CSS">
  <meta name="twitter:description" content="Sidebar Application AI Prompt using Tailwind CSS for Preline UI, a product of Htmlstream.">
  <meta name="twitter:image" content="https://preline.co/assets/img/og-image.png">

  <meta property="og:url" content="https://preline.co/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Preline">
  <meta property="og:title" content="Sidebar Application AI Prompt using Tailwind CSS | Preline UI, crafted with Tailwind CSS">
  <meta property="og:description" content="Sidebar Application AI Prompt using Tailwind CSS for Preline UI, a product of Htmlstream.">
  <meta property="og:image" content="https://preline.co/assets/img/og-image.png">

  <!-- Title -->
  <title>ABOUT</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Theme Check and Update -->
  <script>
    const html = document.querySelector('html');
    const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
    const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

    if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
    else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
    else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
    else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
  </script>

  <!-- CSS Preline -->
  <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">
  <style>
    .zigzag-line {
        position: relative;
        top: -100px;
        left: 20%;
        width: 3px;
        height: 3px;
        background-color: #a57aff;
        box-shadow: 0 0 10px #a57aff, 0 0 20px #a57aff;
        animation: zigzagMove 4s linear infinite;
    }

    .zigzag-line.delay1 {
        left: 50%;
        animation-delay: 2s;
    }

    .zigzag-line.delay2 {
        left: 80%;
        animation-delay: 4s;
    }

    @keyframes zigzagMove {
        0% {
        transform: translate(0, 0);
        opacity: 1;
        }
        20% {
        transform: translate(50px, 100px);
        }
        40% {
        transform: translate(-50px, 200px);
        }
        60% {
        transform: translate(50px, 300px);
        }
        80% {
        transform: translate(-50px, 400px);
        }
        100% {
            transform: translate(0, 500px);
            opacity: 0;
            }
        }
    </style>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="margin: 0; padding: 0; height: 100vh; overflow: hidden; overflow-x:hidden; backdrop-filter: brightness(0.7); background-image: url('/static/background.jpg');">
    <!--BG STYLING -->
    <div class="zigzag-line"></div>
    <div class="zigzag-line delay1"></div>
    <div class="zigzag-line delay2"></div>
    <!--END BG STYLING-->
    <!-- ========== MAIN CONTENT ========== -->
  <!-- Sidebar -->
  <div id="hs-application-sidebar" class="hs-overlay [--auto-close:lg] hs-overlay-open:translate-x-0 -translate-x-full duration-300 transform hidden fixed top-0 start-0 bottom-0 z-60 w-64 h-full
  bg-black border-e border-gray-900
  lg:block lg:translate-x-0 lg:end-auto lg:bottom-0" role="dialog" tabindex="-1" aria-label="Sidebar">
    <nav class="size-full flex flex-col">
      <div class="my-5 flex items-center pt-4 pe-4 ps-7">
        <!-- Logo -->
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 22" fill="none" stroke="#3a0ca3" stroke-width="2.0" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
        <div class="mx-2 text-2xl font-semibold bg-clip-text bg-linear-to-tl from-blue-600 to-violet-600 text-transparent">BRAINYBOT</div>
        <!-- End Logo -->
      </div>

      <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500">
        <!-- List -->
        <ul class="space-y-1.5 p-4">
          {% if session.is_logged_in %}
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
              DASHBOARD
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 rounded-lg bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/about">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              ABOUT
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/ask">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
            ASK ME ANYTHING
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/ask_pdf">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>
              CHAT WITH PDF
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/ask_youtube">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube-icon lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
              CHAT WITH YOUTUBE
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/get_notes">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll-text-icon lucide-scroll-text"><path d="M15 12h-5"/><path d="M15 8h-5"/><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>
              NOTES SUMMARIZER
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/revision">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-target-icon lucide-target"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="12" r="6"/><circle cx="12" cy="12" r="2"/></svg>
                REVISION CORNER
              <svg style="margin-left: 12px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
          </a>
          </li>
          {% else %}
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 border border-gray-800 rounded-lg hover:bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
              HOME
            </a>
          </li>
          <li>
            <a class="flex items-center gap-x-3 py-2 px-3 text-sm text-gray-100 rounded-lg bg-gray-900 focus:outline-hidden focus:bg-gray-900" href="/about">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
              ABOUT
            </a>
          </li>
          {% endif %}
        <!-- End List -->
      </div>
      <!-- Footer -->
        <div class="p-4 border-t border-gray-700">
          {% if session.is_logged_in %}
          <a class="flex justify-between items-center gap-x-3 py-2 px-3 text-sm font-semibold text-gray-100 bg-gray-900 rounded-lg border border-transparent hover:border-white focus:bg-neutral-800"  href="/logout">
            LOGOUT
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
              <polyline points="10 17 15 12 10 7" />
              <line x1="15" x2="3" y1="12" y2="12" />
            </svg>
          </a>
          {% else %}
          <a class="flex justify-between items-center gap-x-3 py-2 px-3 text-sm font-semibold text-gray-100 bg-gray-900 rounded-lg border border-transparent hover:border-white focus:bg-neutral-800"  href="/register">
            GET STARTED
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
              <polyline points="10 17 15 12 10 7" />
              <line x1="15" x2="3" y1="12" y2="12" />
            </svg>
          </a>
          {% endif %}
        </div>
      </div>
      <!-- End Footer -->
    </nav>
  </div>
  <!-- End Sidebar -->

  <!-- Content area -->
  <div class=" h-screen w-full lg:ps-65 overflow-y-auto">
    <div class="py-10 lg:py-14">
      <!-- Title -->
      <div class="max-w-4xl px-4 sm:px-6 lg:px-8 mx-auto text-center">
        <span class="text-5xl font-semibold bg-clip-text bg-linear-to-tl from-blue-600 to-violet-600 text-transparent"> BRAINYBOT</span>
        <span style="margin-left: 25%" class="flex text-center mt-4 text-gray-200 text-lg">
          Your Personal AI-powered Smart Study Assistant
          <svg style="margin-left: 6px;" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bot-icon lucide-bot"><path d="M12 8V4H8"/><rect width="16" height="12" x="4" y="8" rx="2"/><path d="M2 14h2"/><path d="M20 14h2"/><path d="M15 13v2"/><path d="M9 13v2"/></svg>
        </span>
        <p class="mt-4 text-gray-300 ">
          How Can I Help You Today?
        </p>
      </div>
      <!-- End Title -->
      <!--Details section-->
      <ul class=" mt-16 space-y-6">
        <!-- Chat Bubble -->
        <li style="margin-right: 20%;" class="max-w-2xl flex  mx-auto gap-x-2 sm:gap-x-4">
          <div class="grow text-end space-y-2">
            <div class="inline-block bg-blue-600 rounded-lg p-3 shadow-2xs">
              <p class="text-md text-white">
                What is BrainyBot?
              </p>
            </div>
          </div>
          <span class="shrink-0 inline-flex items-center justify-center size-9.5 rounded-full bg-blue-600">
            <span class="text-sm font-medium text-white">MK</span>
          </span>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-left: 15%;" class="max-w-3xl text-justify py-2 px-4 sm:px-6 lg:px-8 mx-auto flex gap-x-2 sm:gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -3 24 30" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="bg-gray-900 shrink-0 size-9.5 rounded-full lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
          <div style="background-color: #2326447d; padding: 10px; border-radius: 10px; border: 1px solid transparent;">
            <div class="space-y-3">
              <div class="space-y-1.5">
                  <p class="text-md text-justify text-gray-100 dark:text-white">
                    BrainyBot is an intelligent, AI-powered web application designed to assist students in their academic journey. Built using state-of-the-art machine learning and natural language processing technologies, BrainyBot enables users to interact with their study materials in smarter, more meaningful ways.
                    <br><br> It's your personal academic assistant — whether you’re preparing for exams, revising concepts, or organizing learning resources.
                  </p>
              </div>
            </div>
          </div>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-right: 20%;" class="max-w-2xl flex  mx-auto gap-x-2 sm:gap-x-4">
          <div class="grow text-end space-y-2">
            <div class="inline-block bg-blue-600 rounded-lg p-3 shadow-2xs">
              <p class="text-md text-white">
                What are the Features of BrainyBot?
              </p>
            </div>
          </div>
          <span class="shrink-0 inline-flex items-center justify-center size-9.5 rounded-full bg-blue-600">
            <span class="text-sm font-medium text-white">MK</span>
          </span>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-left: 15%;" class="max-w-4xl text-justify py-2 px-4 sm:px-6 lg:px-8 mx-auto flex gap-x-2 sm:gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -3 24 30" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="bg-gray-900 shrink-0 size-9.5 rounded-full lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
          <div style="background-color: transparent; padding: 10px; border-radius: 10px; border: 1px solid transparent;">
            <div class="space-y-3">
              <div class="space-y-1.5">
                  <p class="text-md  font-semibold text-gray-100">
                    Our key features include:
                  </p>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-4">
              <div class="col-start-1 col-end-2">
                <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                  <div class="flex items-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                    <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Ask Complex Questions :</span>
                  </div>
                  <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Ask any question, and BrainyBot searches the web, understands your intent, and returns concise, informative answers.</div>
                </div>
                </div>
                <div class="col-start-2 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text-icon lucide-file-text"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Chat With PDF :</span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Upload your notes, textbooks, or study papers as PDFs. Simply ask questions based on the content and get clear, context-aware answers.</div>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-4">
                <div class="col-start-1 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube-icon lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Chat with YouTube :</span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Paste a YouTube video link, and BrainyBot transcribes and understands the content so you can ask questions based on the video.</div>
                  </div>
                </div>
                <div class="col-start-2 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scroll-text-icon lucide-scroll-text"><path d="M15 12h-5"/><path d="M15 8h-5"/><path d="M19 17V5a2 2 0 0 0-2-2H4"/><path d="M8 21h12a2 2 0 0 0 2-2v-1a1 1 0 0 0-1-1H11a1 1 0 0 0-1 1v1a2 2 0 1 1-4 0V5a2 2 0 1 0-4 0v2a1 1 0 0 0 1 1h3"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase">Notes Generator :</span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Summarizes large blocks of text or lecture transcripts into concise summaries — perfect for quick revisions.</div>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-4">
                <div class="col-start-1 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big-icon lucide-circle-check-big"><path d="M21.801 10A10 10 0 1 1 17 3.335"/><path d="m9 11 3 3L22 4"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase">MCQ Generator :</span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Automatically generates multiple-choice questions based on study material (PDF) — great for self-assessment or quiz creation.</div>
                  </div>
                </div>
                <div class="col-start-2 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 130px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card-icon lucide-credit-card"><rect width="20" height="14" x="2" y="5" rx="2"/><line x1="2" x2="22" y1="10" y2="10"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase">Flashcard Generator :</span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Create flashcards from PDFs, summaries, or videos to help with quick and repeated recall of important terms and definitions.</div>
                  </div>
                </div>
              </div>
            </div>
        </li>
        <!--End chat bubble-->
        <!-- Chat Bubble -->
        <li style="margin-right: 20%;" class="max-w-2xl flex  mx-auto gap-x-2 sm:gap-x-4">
          <div class="grow text-end space-y-2">
            <div class="inline-block bg-blue-600 rounded-lg p-3 shadow-2xs">
              <p class="text-md text-white">
                Why should i choose BrainyBot?
              </p>
            </div>
          </div>
          <span class="shrink-0 inline-flex items-center justify-center size-9.5 rounded-full bg-blue-600">
            <span class="text-sm font-medium text-white">MK</span>
          </span>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-left: 15%;" class="max-w-3xl text-justify py-2 px-4 sm:px-6 lg:px-8 mx-auto flex gap-x-2 sm:gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -3 24 30" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="bg-gray-900 shrink-0 size-9.5 rounded-full lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
          <div style="background-color: #2326447d; padding: 10px; border-radius: 10px; border: 1px solid transparent;">
            <div class="space-y-3">
              <h2 class="font-medium text-gray-100 dark:text-white">
                Why Not! We have multiple reasons for you to choose BrainyBot :
              </h2>
              <div class="space-y-1.5">
                <ul class="list-disc list-outside space-y-2.5 ps-7">
                  <li class="text-sm text-gray-100 dark:text-white">
                    Smart: Uses trained models for truly intelligent responses.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Student-Centric: Designed with real academic needs in mind — from doubt-solving to revision.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Easy to Use: Simple web interface with interactive chat features.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Lightweight & Free: Powered by free-tier technologies and open-source tools.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Multi-modal: Works with PDFs, videos, raw text, and more.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-right: 20%;" class="max-w-2xl flex  mx-auto gap-x-2 sm:gap-x-4">
          <div class="grow text-end space-y-2">
            <div class="inline-block bg-blue-600 rounded-lg p-3 shadow-2xs">
              <p class="text-md text-white">
                What are the Use-Cases of BrainyBot?
              </p>
            </div>
          </div>
          <span class="shrink-0 inline-flex items-center justify-center size-9.5 rounded-full bg-blue-600">
            <span class="text-sm font-medium text-white">MK</span>
          </span>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-left: 15%;" class="max-w-3xl text-justify py-2 px-4 sm:px-6 lg:px-8 mx-auto flex gap-x-2 sm:gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -3 24 30" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="bg-gray-900 shrink-0 size-9.5 rounded-full lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
          <div style="background-color: #2326447d; padding: 10px; border-radius: 10px; border: 1px solid transparent;">
            <div class="space-y-3">
              <h2 class="font-medium text-gray-100 dark:text-white">
                Our key use-cases include:
              </h2>
              <div class="space-y-1.5">
                <ul class="list-disc list-outside space-y-2.5 ps-7">
                  <li class="text-sm text-gray-100 dark:text-white">
                    Exam Preparation: Get quick answers to complex questions, helping you prepare for exams efficiently.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Research Assistance: BrainyBot can help you find relevant information and summarize research papers or articles.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Lecture Review: Upload lecture notes or videos and ask questions to clarify concepts.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    Personal Revision Planning: BrainyBot can help you create a personalized study plan based on your learning style and pace.
                  </li>
                  <li class="text-sm text-gray-100 dark:text-white">
                    MCQ Practice & Flashcards for Revision: Generate multiple-choice questions and flashcards from your study material for effective revision.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-right: 20%;" class="max-w-2xl flex  mx-auto gap-x-2 sm:gap-x-4">
          <div class="grow text-end space-y-2">
            <div class="inline-block bg-blue-600 rounded-lg p-3 shadow-2xs">
              <p class="text-md text-white">
                Who can use BrainyBot?
              </p>
            </div>
          </div>
          <span class="shrink-0 inline-flex items-center justify-center size-9.5 rounded-full bg-blue-600">
            <span class="text-sm font-medium text-white">MK</span>
          </span>
        </li>
        <!-- End Chat Bubble -->
        <!-- Chat Bubble -->
        <li style="margin-left: 15%;" class="max-w-4xl text-justify py-2 px-4 sm:px-6 lg:px-8 mx-auto flex gap-x-2 sm:gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 -3 24 30" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="bg-gray-900 shrink-0 size-9.5 rounded-full lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
          <div style="background-color: transparent; padding: 10px; border-radius: 10px; border: 1px solid transparent;">
            <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 100px; width: 655px; background-color: #2326447d; border-radius: 15px;">
              <div class="flex items-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
                <span class="mx-2 text-sm font-semibold text-gray-300 uppercase">Anyone Who Wants to Learn & Grow</span>
              </div>
              <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Whether you're preparing for exams, learning a new topic, or revisiting old ones — BrainyBot adapts to your learning style.</div>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-4">
              <div class="col-start-1 col-end-2">
                <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 140px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                  <div class="flex items-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-graduation-cap-icon lucide-graduation-cap"><path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/><path d="M22 10v6"/><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/></svg>
                    <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Students </span>
                  </div>
                  <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Any High school, college, and university students can use BrainyBot for studying, clarifying concepts, revising, and testing themselves — across subjects.</div>
                </div>
                </div>
                <div class="col-start-2 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 140px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-book-marked-icon lucide-book-marked"><path d="M10 2v8l3-3 3 3V2"/><path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Self-Learners </span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Perfect for online learners using MOOCs or YouTube tutorials. BrainyBot helps break down complex information and quiz themselves as they go.</div>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-4">
                <div class="col-start-1 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 140px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-school-icon lucide-school"><path d="M14 22v-4a2 2 0 1 0-4 0v4"/><path d="m18 10 3.447 1.724a1 1 0 0 1 .553.894V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7.382a1 1 0 0 1 .553-.894L6 10"/><path d="M18 5v17"/><path d="m4 6 7.106-3.553a2 2 0 0 1 1.788 0L20 6"/><path d="M6 5v17"/><circle cx="12" cy="9" r="2"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Educators & Tutors </span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Teachers can quickly create practice material (MCQs, flashcards, summaries) from existing content or lectures, saving hours of preparation.</div>
                  </div>
                </div>
                <div class="col-start-2 col-end-2">
                  <div style="align-items :center; padding-top:5px; padding-left: 15px; padding-right: 15px; height: 140px; width: 320px; background-color: #2326447d; border-radius: 15px;">
                    <div class="flex items-center mt-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#3a0ca3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-search-icon lucide-user-search"><circle cx="10" cy="7" r="4"/><path d="M10.3 15H7a4 4 0 0 0-4 4v2"/><circle cx="17" cy="17" r="3"/><path d="m21 21-1.9-1.9"/></svg>
                      <span class="mx-2 text-sm font-semibold text-gray-300 uppercase"> Researchers </span>
                    </div>
                    <div style="margin-top: 10px; text-align: justify;" class="text-sm text-gray-300">Extract meaningful summaries and insights from academic papers, quickly compare concepts, and organize findings with ease.</div>
                  </div>
                </div>
            </div>
        </li>
        <!--End chat bubble-->
      </ul>
    </div>
    <!--Textarea-->
    <div class="max-w-4xl mx-auto sticky bottom-0 z-10 p-3 sm:py-12">
      <!-- Input -->
      <div style="margin-top: -5%;" class="relative mt-12">
        <form method="post" action="{{ url_for('ask') }}">
          <input style="position: absolute;" class="p-3 sm:p-4 pb-12 sm:pb-12 block h-30 w-full bg-black border-gray-900 rounded-lg sm:text-sm text-gray-100 focus:border-blue-500 focus:ring-blue-500" type="text" name="question" placeholder="Ask Me Anything ..." required>
          <!-- Send Button -->
          <button type="submit" style="position:relative; margin-left: 95%; margin-top: 5%;" class="inline-flex shrink-0 justify-center items-center size-8 rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:z-10 focus:outline-hidden focus:bg-blue-500">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
            </svg>
          </button>
          <!-- End Send Button -->
        </form>
        {% if answer %}
        <h3>Answer:</h3>
        <p>{{ answer }}</p>
        {% endif %}
      </div>
      <!-- End Input -->
    </div>
  <!-- End Textarea -->
  </div>
  <!-- End Content -->
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Implementing Plugins -->

  <!-- JS PLUGINS -->
  <!-- Required plugins -->
  <script src="https://cdn.jsdelivr.net/npm/preline/dist/index.js"></script>
  <script src="https://preline.co/assets/vendor/prism/prism.js"></script>

  </body>
</html>
