<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>P2E: Login</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
<!--Replace with your tailwind.css once created-->
<link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    html {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
</style>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="margin:0; height: 728px; backdrop-filter: brightness(0.7); background-image: url('/static/background.jpg');">
    <div style="margin-left: 9%;">
        <!--LOGO-->
        <div style="margin-left: -5%; padding-top: 3%;" class="flex items-center pt-4 pe-4 ps-7">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 2 24 22" fill="none" stroke="#3a0ca3" stroke-width="2.0" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
            <div class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-blue-600 to-purple-500 font-bold text-2xl">
                <span class="px-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-600 to-purple-500 font-bold text-4xl">BRAINYBOT</span>
            </div>
        </div>
        <!-- End Logo -->
        <!--BACK button-->
        <div style="background-color: #2326447d; text-align:center; width: 95px; padding: 2px; border-radius: 10px; margin-left: 89%; margin-top:-35px;" class="text-lg text-white">
            <a href="/register">< BACK</a>
        </div>
    </div>
    <!-- Hero -->
            <div class="mx-auto max-w-4xl grid sm:space-y-12">
                <!-- Title -->
                <div style="margin-top: 10%;" class="text-center">
                    <p class="text-3xl font-semibold text-yellow-400 tracking-wide uppercase mt-10 mb-3">
                        Your Gateway to Smarter Learning
                    </p>
                    <h1 class="text-6xl text-white font-bold sm:text-5xl lg:text-4xl lg:leading-tight mt-5">
                        Let BrainyBot simplify your academic life<br>
                        <div class="text-blue-400 mt-5">Log In to Continue!</div>
                    </h1>
                </div>
                <!-- End Title -->
                <!-- Form -->
                <form method="post">
                    <div class="mx-auto max-w-2xl sm:flex sm:space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100">
                        <div class="w-full pb-2 sm:pb-0">
                            <label for="hs-hero-name-1" class="block text-sm font-medium"><span
                                    class="sr-only">Enter Your Email</span></label>
                            <input type="email" id="hs-hero-name-1" name="email"
                                class="py-3 px-4 block w-full border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Enter Your Email">
                        </div>
                        <div class="pt-2 sm:pt-0 sm:ps-3 border-t border-gray-200 sm:border-t-0 sm:border-s w-full">
                            <label for="hs-hero-email-1" class="block text-sm font-medium"><span
                                    class="sr-only">Enter Your Password</span></label>
                            <input type="password" id="hs-hero-email-1" name="password"
                                class="py-3 px-4 block w-full border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Enter Your Password">
                        </div>
                        <div class="whitespace-nowrap pt-2 sm:pt-0 grid sm:block">
                            <button
                                class="py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                                Continue
                            </button>
                        </div>
                    </div>
                </form>
                <!-- End Form -->
            </div>
    <!-- End Hero -->
</body>

</html>