<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>REGISTER NOW</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet" />

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

        html {
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

    .zigzag-line {
        position: relative;
        top: -100px;
        left: 20%;
        width: 3px;
        height: 3px;
        background-color: #a57aff;
        box-shadow: 0 0 10px #a57aff, 0 0 20px #a57aff;
        animation: zigzagMove 4s linear infinite;
    }

    .zigzag-line.delay1 {
        left: 50%;
        animation-delay: 2s;
    }

    .zigzag-line.delay2 {
        left: 80%;
        animation-delay: 4s;
    }

    @keyframes zigzagMove {
        0% {
        transform: translate(0, 0);
        opacity: 1;
        }
        20% {
        transform: translate(50px, 100px);
        }
        40% {
        transform: translate(-50px, 200px);
        }
        60% {
        transform: translate(50px, 300px);
        }
        80% {
        transform: translate(-50px, 400px);
        }
        100% {
            transform: translate(0, 500px);
            opacity: 0;
            }
        }
    </style>
</head>
<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="margin: 0; padding: 0; height: 100vh; overflow: hidden; overflow-x:hidden; backdrop-filter: brightness(0.7); background-image: url('/static/background.jpg');">
        <!--BG STYLING -->
        <div class="zigzag-line"></div>
        <div class="zigzag-line delay1"></div>
        <div class="zigzag-line delay2"></div>
        <!--END BG STYLING-->
        <!-- ========== MAIN CONTENT ========== -->
    <div style="margin-left: 6%;" class="h-85 max-w-[85rem] sm:px-6 lg:px-8 mx-auto">
        <!--LOGO-->
        <div style="margin-left: -5%; padding-top: 3%;" class="flex items-center pt-4 pe-4 ps-7">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 2 24 22" fill="none" stroke="#3a0ca3" stroke-width="2.0" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-brain-icon lucide-brain"><path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"/><path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"/><path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"/><path d="M17.599 6.5a3 3 0 0 0 .399-1.375"/><path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"/><path d="M3.477 10.896a4 4 0 0 1 .585-.396"/><path d="M19.938 10.5a4 4 0 0 1 .585.396"/><path d="M6 18a4 4 0 0 1-1.967-.516"/><path d="M19.967 17.484A4 4 0 0 1 18 18"/></svg>
            <div class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-blue-600 to-purple-500 font-bold text-2xl">
                <span class="px-2 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-purple-600 to-purple-500 font-bold text-4xl">BRAINYBOT:</span>
                Your Smart Study Assistant
            </div>
        </div>
        <!-- End Logo -->
        <!-- Grid -->
        <div class="grid items-center md:grid-cols-2 gap-8 lg:gap-12">
            <div class="md:mb-12 max-w-2xl">
                <h1 class="mb-4 font-bold text-white text-4xl lg:text-5xl">
                    Welcome to the Hub of <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-blue-600-500 to-purple-500">Learning and Growth</span>
                </h1>
                <br>
                <p class="text-gray-100 text-justify">
                    Get ready to transform your study experience with AI-powered tools designed to make learning faster, easier, and smarter.
                    <br>Whether you're tackling tough topics, summarizing PDFs, or prepping for exams, BrainyBot is your all-in-one academic assistant.
                    <br><br>
                </p>
                <p class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 via-blue-600-500 to-purple-500 font-bold text-xl">
                    The Incredible Journey from Curiosity to Clarity Begins Here!
                </p>
                <br>
                <p class="text-gray-100 text-justify">Create your free account today and turn your questions, PDFs, and videos into instant insights, notes, quizzes, and flashcards — all in just a few clicks!</p>
            </div>
            <!-- End Title -->
            <!-- End Col -->
            <div>
            <!-- Form -->
            <form method="post">
                <div class="lg:max-w-lg lg:mx-auto lg:me-0 ms-auto">
                {% for error in error_list %}
                    {{error}}
                {% endfor %}
                <!-- Card -->
                <div class="p-4 sm:p-9 flex flex-col bg-white bg-opacity-10 rounded-2xl shadow-lg">
                    <div class="text-center">
                    <h1 class="block text-2xl font-bold text-white">Start Converting Today</h1>
                    <p class="mt-2 text-sm text-gray-400">
                        Already have an account?
                        <b><span class=" text-blue-500">Sign in here</span>
                    </p>
                    </div>
                    <div class="mt-5">
                    <a href="/login" type="button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-300 focus:outline-none focus:bg-gray-200 disabled:opacity-100 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><polyline points="16 11 18 13 22 9"/></svg>
                        Login
                    </a>
                    <div class="py-3 flex items-center text-xs justify-center text-gray-400 uppercase before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6">Or</div>
                    <!--Register form start-->
                    <p class="mt-1 mb-3 text-base italic text-gray-200  dark:text-neutral-900">
                        The incredible journey from questions to knowledge is waiting for you.
                    </p>
                        <div class="mb-4">
                            <label for="hs-hero-name-2" class="block text-sm margin-top: 10px font-medium"><span class="sr-only">Full name</span></label>
                            <input type="text" id="hs-hero-name-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Full name" name="username">
                        </div>
                        <div class="mb-4">
                            <label for="hs-hero-email-2" class="block text-sm font-medium dark:text-white"><span class="sr-only">Email address</span></label>
                            <input type="email" id="hs-hero-email-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Email address" name="email">
                        </div>
                        <div class="mb-4">
                            <label for="hs-hero-password-2" class="block text-sm font-medium dark:text-white"><span class="sr-only">Password</span></label>
                            <input type="password" id="hs-hero-password-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Password" name="password">
                        </div>
                        <div class="mb-4">
                            <label for="hs-hero-password-2" class="block text-sm font-medium dark:text-white"><span class="sr-only">Confirm Password</span></label>
                            <input type="password" id="hs-hero-password-2" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Confirm Password" name="confirmpassword">
                        </div>
                    <div class="mt-5">
                        <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Register Now</button>
                    </div>
                    </div>
                </div>
                <!-- End Card -->
                </div>
            </form>
            <!-- End Form -->
            </div>
            <!-- End Col -->
        <!-- End register form -->
    <!-- page End -->
</body>
</html>